*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
**/.idea/
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/Testing/
**/cmake-build-debug/
**/cmake_install.cmake
**/*~
**/*swp
**/.cmake/
**/CMakeLists.txt.user
**/CTestTestfile.cmake
reference/rayTracer
reference/stl/
reference/test
reference/output/**
reference/googleTest
reference/manual-test
